{{template "base" .}}
{{define "title"}}View Guides{{end}}
{{define "body"}}

<h1>Guides:</h1>

{{range .Guides}}
<div class="fullguide">
<div class="fullguide-buttons">
    <form action="/deleteguide" method="post">
        <input type="submit" id="delete" onClick="return confirmDeletion()" name="delete" value="Delete">
        <input type="hidden" name="id" value="{{.Id}}">
    </form>
    <a href="/editguide/{{.Id}}"><button type="button">Edit</button></a> 
    <a href="/guide/{{.Id}}"><button type="button">FullView</button></a> 
</div>
    <h2 class="title">Title: {{.Title}}</h2>
    {{.Content}} <br>

<div class="guide-footer">
    By: {{.Author}} <br>
    Created: {{humandate .Created}} <br>
    {{if ne .Created .Updated}}
    Updated: {{humandate .Updated}} <br>
    {{end}}
</div>
</div>
{{end}}
{{end}}

