{{template "base" .}}
{{define "title"}}View Guides{{end}}
{{define "body"}}

<h1>Guides:</h1>

{{range .Guides}}
<div class="fullguide">
    <form class="fullguide-buttons" action="/allguides" method="post">
        <input type="submit" id="delete" onClick="return confirmDeletion()" name="delete" value="Delete">
        <input type="submit" name="edit" value="Edit">
        <input type="hidden" name="id" value="{{.Id}}">
    </form>
{{/* todo: change FullView in either a button or smth */}}
    <a href="/guide?id={{.Id}}">FullView</a> 
    <h2 class="title">Title: {{.Title}}</h2>
    {{.Content}} <br>

<div class="guide-footer">
    By: {{.Author}} <br>
    Created: {{humandate .Created}} <br>
    {{if ne .Created .Updated}}
    Updated: {{humandate .Updated}} <br>
    {{end}}
</div>

    {{/* <form action="/editguide" method="post">
        <input type="submit" value="Edit">
        <input type="hidden" name="id" value="{{.Id}}">
    </form> */}}
</div>

{{end}}
{{end}}

{{define "js"}}
<script>
    let deltrue;
    function confirmDeletion() {
        if (confirm("Are you sure to delete?") == true) {
            deltrue = true;
            return deltrue;
        } else {
            deltrue = false;
            return deltrue;
        }
    }
</script>
{{end}}