{{template "base" .}}
{{define "title"}}Create a new Guide{{end}}
{{define "body"}}

<form method="POST" action="/createguide">
    {{with .Form}}
        <div>
            <label for="title">Title:</label><br>
            {{with .Errors.Get "title"}}
                <label class="error">{{.}}</label><br>
            {{end}}
            <input type="text" name="title" id="guideTitle" value='{{.Get "title"}}'><br>
        </div>
        <div>
            <label for="content">Content:</label><br>
            {{with .Errors.Get "content"}}
                <label class="error">{{.}}</label><br>
            {{end}}
            <textarea name="content" id="" cols="96" rows="21">{{.Get "content"}}</textarea><br>
        </div>
        {{/* <div>
            <label for="author">Author:</label><br>
            {{with .Errors.Get "author"}}
                <label class="error">{{.}}</label><br>
            {{end}}
           <input type="text" name="author" id="guideAuthor" value='{{.Get "author"}}'><br>
        </div> */}}
        <div>
            <input type="submit" value="Post">
        </div>
    {{end}}
</form>
{{end}}



