{{template "base" .}}

{{define "title"}}Create a new Guide{{end}}

{{define "body"}}
<form method="POST" action="/createguide">
    <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
    {{with .Form}}
        <div>
            <label for="title">Title:</label>
            {{with .Errors.Get "title"}}
                <label class="error">{{.}}</label>
            {{end}}
            <input type="text" name="title" id="title" value='{{.Get "title"}}'>
        </div>
        <div>
            <label for="content">Content:</label>
            {{with .Errors.Get "content"}}
                <label class="error">{{.}}</label>
            {{end}}
            <textarea name="content" id="content" cols="96" rows="21">{{.Get "content"}}</textarea>
        </div>

        <div>
            <button class="button" type="submit" name="create" value="Create">Post</button>
        </div>
    {{end}}
</form>
{{end}}



