{{template "base" .}}
{{define "title"}}Create a new Guide{{end}}
{{define "body"}}
<br>
    <form method="POST" action="/createguide">
        <label for="title">Title:</label><br>
        <input type="text" name="title" id="guideTitle"><br><br>
        <label for="content">Content:</label><br>
        <textarea name="content" id="" cols="96" rows="21"></textarea><br>
        <input type="submit" value="Post">
    </form>
{{end}}

{{define "js"}}
{{if .InfoMsg.emptyFields  }}
<script>
alert({{.InfoMsg.emptyFields}});
</script>
{{end}}
{{end}}

