{{template "base" .}}
{{define "title"}}Edit Guide{{end}}
{{define "body"}}
<br>
    <form method="POST" action="/editguide">
        <label for="title">Title:</label><br>
        <input type="text" name="title" id="guideTitle" value="{{.Guide.Title}}"><br><br>
        <label for="content">Content:</label><br>
        <textarea name="content" id="" cols="80" rows="10">{{.Guide.Content}}</textarea><br>
        <input type="hidden" name="id" value="{{.Guide.Id}}">
        <input type="submit" name="submitEdit" value="Save">
    </form>
{{end}}