{{template "base" .}}
{{define "title"}}Edit Guide{{end}}

{{define "body"}}
<div class="container">
    <form method="POST" action="/editguide">
        <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
        {{with .Form}}
            <label for="title">Title:</label>
            {{with .Errors.Get "title"}}
                <label class="error">{{.}}</label>
            {{end}}
            <input class="inputfield" type="text" name="title" id="title" value="{{$.Guide.Title}}">
            <label for="content">Content:</label>
            {{with .Errors.Get "content"}}
                <label class="error">{{.}}</label>
            {{end}}
            <textarea class="inputfield" name="content" id="content" cols="80" rows="10">{{$.Guide.Content}}</textarea>
        
            <input type="hidden" name="id" value="{{$.Guide.Id}}">
            <button class="button" type="submit" name="submitEdit" value="Save">Save</button>
        {{end}}
    </form>
</div>
{{end}}