{{template "base" .}}

{{define "title"}}Edit Guide{{end}}

{{define "body"}}
    <form method="POST" action="/editguide">
        <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
        {{with .Form}}
            <label for="title">Title:</label><br>
            {{with .Errors.Get "title"}}
                <label class="error">{{.}}</label><br>
            {{end}}
            <input type="text" name="title" id="guideTitle" value="{{$.Guide.Title}}"><br><br>
            <label for="content">Content:</label><br>
            {{with .Errors.Get "content"}}
                <label class="error">{{.}}</label><br>
            {{end}}
            <textarea name="content" id="" cols="80" rows="10">{{$.Guide.Content}}</textarea><br>
        
            <input type="hidden" name="id" value="{{$.Guide.Id}}">
            <input type="submit" name="submitEdit" value="Save">
        {{end}}
    </form>
{{end}}