{{template "base" .}}
{{define "title"}}₿ Home{{end}}
{{define "body"}}
    <h2>About BLN-Guide:</h2>
    <p>Write Guides, preferably about Bitcoin or Ligthning and earn some sats for them.</p>
    <p>Format guides in markdown after the <a href="https://commonmark.org/">CommonMark</a> specification.</p>
    <p class="test-acc">If you want to test without registration:<br>
    user: test_user<br>
    password: password</p>

    {{/* <div class="frontimage">
        <img src="/static/img/bitcoin-digital-art-3.jpg" alt="bitcoin-digital-art-3">
    </div> */}}

{{end}}




