{{template "base" .}}
{{define "title"}}₿ @ Home{{end}}
{{define "body"}}
    <h1>About BLN-Guide:</h1>
    <p>Create guides to help fellow Bitcoiners and earn Sats in Form of upvotes. No matter what topic it is.</p>

    {{/* <div class="frontimage">
        <img src="/static/img/bitcoin-digital-art-3.jpg" alt="bitcoin-digital-art-3">
    </div> */}}

{{end}}




