{{template "base" .}}
{{define "title"}}Profile{{end}}

{{define "body"}}
<div class="container">

    <div class="wallet mb1">
        {{with .StringMap.Balance}} 
            <div class="mb1" > Wallet: {{.}} </div>
        {{end}}
        <a class="button" href="/user/deposit">deposit</a>
        <a class="button"  href="/user/withdraw">withdraw</a>
    </div>
    <div class="profile">
        <div class="mb1">Profile:</div>      
        <a class="button" href="/user/settings/password">change Password</a> 
        <a class="button" href="/user/settings">Settings</a>
         
    </div>

</div>
{{end}}