{{template "base" .}}

{{define "title"}}Profile{{end}}

{{define "body"}}
<div class="container">
    {{with .StringMap.Balance}} 
    <div class="mb5">
        Balance: {{.}}
    </div>
    {{end}}
    <div class="mb5">
        <a href="/user/settings">Settings</a>
    </div>
    <div class="mb5">
        <a href="/user/settings/password">change Password</a> 
    </div>
</div>
{{end}}