{{template "base" .}}
{{define "title"}}Register{{end}}

{{define "body"}}
<div class="container">
    <form action="/user/register" method="POST" novalidate>
        <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
        {{with .Form}}
            <div>
                <label for="name" >Name:</label>
                {{with .Errors.Get "name"}}
                    <label class="error">{{.}}</label>
                {{end}}
                <input class="inputfield mb1" type="text" id="name" name="name" value='{{.Get "name"}}'>
            </div>
            <div>
                <label for="pw1" >Password:</label>
                {{with .Errors.Get "password1"}}
                    <label class="error">{{.}}</label>
                {{end}}
                <input class="inputfield mb1" type="password" id ="pw1" name="password1">
            </div>
            <div>
                <label for="pw2">Repeat Password:</label>
                {{with .Errors.Get "password2"}}
                    <label class="error">{{.}}</label>
                {{end}}
                <input class="inputfield mb1" type="password" id ="pw2" name="password2">
            </div><br>
            <div>Additional Information:</div>
            <div>
                <label for="lnaddr" >Lightning Address:</label>
                {{with .Errors.Get "lnaddr"}}
                    <label class="error">{{.}}</label>
                {{end}}
                <input class="inputfield mb1" type="text" id="lnaddr" name="lnaddr" value='{{.Get "lnaddr"}}'>
            </div>
            <div>
                <label for="email" >Email:</label>
                {{with .Errors.Get "email"}}
                    <label class="error">{{.}}</label>
                {{end}}
                <input class="inputfield mb1" type="text" id="email" name="email" value='{{.Get "email"}}'>
            </div>

            <div>
                <button class="button mb1" type="submit" name="register" value="Register">Register</button>
            </div>

            <div>
                Email is used for Password Recovery. <br>
                Lightning Address is used to receive Sats from people without an account. <br>
            </div>
        {{end}}
    </form>
</div>
{{end}}