{{template "base" .}}
{{define "title"}}Register{{end}}

{{define "body"}}
<div class="container">
    <form action="/user/register" method="POST" novalidate>
        <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
        {{with .Form}}
            <div>
                <label for="name" >Name:</label>
                {{with .Errors.Get "name"}}
                    <label class="error">{{.}}</label>
                {{end}}
                <input class="inputfield" type="text" id="name" name="name" value='{{.Get "name"}}'>
            </div>
            <div>
                <label for="pw" >Password:</label>
                {{with .Errors.Get "password"}}
                    <label class="error">{{.}}</label>
                {{end}}
                <input class="inputfield" type="password" id ="pw" name="password">
            </div><br>
            <div>Not required*</div>
            <div>
                <label for="lnaddr" >Lightning Address:</label>
                {{with .Errors.Get "lnaddr"}}
                    <label class="error">{{.}}</label>
                {{end}}
                <input class="inputfield" type="text" id="lnaddr" name="lnaddr" value='{{.Get "lnaddr"}}'>
            </div>
            <div>
                <label for="email" >Email:</label>
                {{with .Errors.Get "email"}}
                    <label class="error">{{.}}</label>
                {{end}}
                <input class="inputfield" type="text" id="email" name="email" value='{{.Get "email"}}'>
            </div>

            <div>
                <button class="button" type="submit" name="register" value="Register">Register</button>
            </div>

            <div>
                *<br>
                Email is used for Password Recovery. <br>
                Lightning Address is used to receive Sats for created Guides. <br>
            </div>
        {{end}}
    </form>
</div>
{{end}}