{{template "base" .}}
{{define "title"}}View Guides{{end}}
{{define "body"}}

    <h1>Guides:</h1>
{{range .Guides}}
    <h3>{{.Title}}</h3>
    <p>{{.Content}}</p>
    <p>By: {{.Author}}</p>
    <p>________________________</p>
{{end}}
{{end}}