{{template "base" .}}
{{define "title"}}View Guides{{end}}
{{define "body"}}

    <h1>Guides:</h1>
{{range .Guides}}
    <h2>Title: {{.Title}}</h2>
    {{.Content}} <br>
    <p></p>
    By: {{.Author}} <br>
    Created: {{humandate .Created}}
    <p>________________________</p>
{{end}}
{{end}}