{{template "base" .}}

{{define "title"}}View Guide{{end}}
{{define "body"}}

{{with .Guide}}
<div class="fullguide">
    <div class="fullguide-title-and-buttons">
{{if eq .UserID $.AuthUserId }}
        <form action="/deleteguide" method="POST">
            <input type="hidden" name="csrf_token" value="{{ $.CSRFToken }}">
            <input type="hidden" name="id" value="{{.Id}}">
            <button type="submit" onClick="return confirmDeletion()" name="delete" value="Delete">Delete</button>
        </form>
        <a href="/editguide/{{.Id}}">Edit</a> 
        {{/* <a href="/editguide/{{.Id}}"><button type="button" name="edit" value="Edit">Edit</button></a>  */}}
    
{{end}}
        <div class="title-button-space"></div>
        <h2 class="title">Title: {{.Title}}</h2>
    </div>
    {{.Content}} 

<div class="guide-footer">
    {{/* By: {{.Author}} <br> */}}
    Created: {{humandate .Created}} <br>
    {{if ne .Created .Updated}}
        Updated: {{humandate .Updated}} <br>
    {{end}}
</div>
</div>
{{end}}
{{end}}

