{{template "base" .}}
{{define "title"}}Settings{{end}}

{{define "body"}}
<div class="container">
    <form method="POST" action="/user/settings/password">
        <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
        {{with .Form}}
            <label for="oldPw">Old password:</label>
            {{with .Errors.Get "oldPassword"}}
                <label class="error">{{.}}</label>
            {{end}}
             <input class="inputfield" type="password" id="oldPw" name="oldPassword">

            <label for="newPw">New password:</label>
            {{with .Errors.Get "newPassword"}}
                <label class="error">{{.}}</label>
            {{end}}
             <input class="inputfield" type="password" id="newPw" name="newPassword">

            <label for="confPw">Confirm new password:</label>
            {{with .Errors.Get "confirmPassword"}}
                <label class="error">{{.}}</label>
            {{end}}
            <input class="inputfield" type="password" id="confPw" name="confirmPassword">
            <div>
                <button class="button" type="submit" name="save" value="Save">Save</button>
            </div>
        {{end}}
    </form>
</div>
{{end}}