{{template "base" .}}
{{define "webln"}}{{end}}
{{define "title"}}Settings{{end}}

{{define "body"}}
<div class="container">
    {{/* <a href="/user/settings/password">change Password</a>  */}}
    <form method="POST" action="/user/settings">
        <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
        {{with .Form}}

            <label for="lnaddr">Lightning Address:</label>
            {{with .Errors.Get "lnaddr"}}
                <label class="error">{{.}}</label>
            {{end}}
            <input class="inputfield" type="text" id="lnaddr" name="lnaddr" value="{{$.User.LNaddr}}">

            <label for="email">Email Address:</label>
            {{with .Errors.Get "email"}}
                <label class="error">{{.}}</label>
            {{end}}
            <input class="inputfield" type="text" id="email" name="email" value="{{$.User.Email}}">

            <label for="upvote">Default upvote amount:</label>
            {{with .Errors.Get "upvote"}}
                <label class="error">{{.}}</label>
            {{end}}
            <input class="inputfield" type="text" id="upvote" name="upvote" value="{{$.User.Upvote}}">

            <button class="button" type="submit" name="save" value="Save">Save</button>
        {{end}}
    </form>
</div>
{{end}}
