{{template "base" .}}

{{define "title"}}Settings{{end}}

{{define "body"}}
<br>
    <a href="/user/settings/password">change Password</a> <br><br>
    <form method="POST" action="/user/settings">
        <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
        {{with .Form}}

            <label for="lnaddr">Lightning Address:</label><br>
            {{with .Errors.Get "lnaddr"}}
                <label class="error">{{.}}</label><br>
            {{end}}
            <input type="text" name="lnaddr" value="{{$.User.LNaddr}}"><br><br>

            <label for="Email">Email Address:</label><br>
            {{with .Errors.Get "email"}}
                <label class="error">{{.}}</label><br>
            {{end}}
             <input type="text" name="email" value="{{$.User.Email}}"><br><br>

            <input type="submit" name="submitSettings" value="Save">
        {{end}}
    </form>
{{end}}
