 :root {
    --main-frame-color: rgb(224, 202, 75);
}

body {
    color: #ffffff;
    background-color: rgb(51, 61, 56);
    margin: 3vmin 5vmax 0vmin 5vmax; /*top,right,bottom,left*/
    font-family: Helvetica, Arial, sans-serif;
}

/* Navbar */
.navbar {
    font-size: 1.5em;
    border-bottom: 3px solid var(--main-frame-color);
    overflow: hidden;
}
/* .navbar a:hover {
    background-color: aqua;
    color: black;
} */
.navbar-right {
    float: right;
}
/* Navbar end */

.fullguide {
    border: 1px double var(--main-frame-color);
    border-radius: 3em;
    padding: 1em 0.5em;
    margin-bottom: 0.5em;
}
.fullguide-buttons {
    float: right;
    padding: 1.5em 0.5em;
    margin-right: 0.5em;
}
.guide-footer {
    border: 0.1em dotted var(--main-frame-color);
    border-radius: 8em;
    text-align: center;
}
.title {
   color: rgb(199, 240, 216);
   text-decoration-line: underline;
}

ul {
    background-color: rgba(128, 128, 128, 0.384);
    border-radius: 25px;
}

a {
color: rgb(211, 240, 195);
} 
