/* 
todo:
- responsive forms - edit/create
*/

:root {
    --bg-color: rgb(255, 255, 255);
    --bg-color2: rgb(245, 245, 245);
    --border-color: rgb(210, 210, 210);
    --font-color: #000000;

    --btn-hover-color: #FF9900;
}

@media (prefers-color-scheme: light) {
    :root {
        --bg-color: rgb(18, 18, 18);
        --bg-color2: rgb(39, 39, 39);
        --border-color: rgb(80, 80, 80);
        --font-color: whitesmoke;
    }
}

body {
    color: var(--font-color);
    background-color: var(--bg-color);
    /* background-image: linear-gradient(var(--bg-color), var(--bg-color2)); */
    /* margin: 3vmin 5vmax 0vmin 5vmax;  */
    font-family: Helvetica, Arial, sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    color: var(--font-color);
}

/* todo: add a:hover effect and maybe a:after tooo */
a:hover {
    background-color: var(--btn-hover-color);
}

.flash-message {
    border: 1px solid lightgray;
    background-color: var(--btn-hover-color);
    text-align: center;
}

.button {
    background-color: transparent;
    color: var(--font-color);
    border: 1px solid black;
    border-radius: 3px;
    cursor: pointer;

    text-decoration: none;
    font-size: 1.5rem;

    padding: 0.1em 0.1em;
}

.button:hover {
    background-color: var(--btn-hover-color);
    color: black;
}

.invoice-copy {
    display: flex;
    flex-direction: row;
    column-gap: 7px;
    margin-top: 7px;
}

/* || Navbar */
.navbar {
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
    font-size: 1.5rem;
    border-bottom: 3px solid var(--border-color);
}

.navbar-space {
    flex-grow: 1;
}

.navbar-right {
    display: inline-flex;
    gap: 10px;
}

/* || Guide Style */
.fullguide {
    border: 2px solid var(--border-color);
    box-shadow: 1px 2px var(--border-color);

    border-radius: 7px;
    padding: 1em 0.5em;
    margin-bottom: 0.5em;

    width: 96%;
}

.fullguide img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
}

.fullguide-title-and-buttons {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 10px;

}

.title-button-space {
    flex-grow: 1;
}

.guide-footer {
    border: 0.1em dotted var(--border-color);
    /* border-radius: 50%; */
    text-align: center;
}

.title {
    text-decoration-line: underline;
}

.title:hover {
    background-color: var(--bg-color);
    color: var(--btn-hover-color);
}

.fullguide ul {
    background-color: var(--bg-color2);
}



/* || Footer */
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    border-top: 3px solid var(--border-color);
}

.github-icon {
    margin-top: 3px;
    border: none;
}

.github-icon img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 25%;
    height: auto;
}

.github-icon:hover {
    background-color: transparent;
}

/* || Input Fields */
label {
    display: block;
    font-size: 1.5em;
    text-align: left;
}

.inputfield {
    width: 100%;
    padding: 12px 20px;
    /* margin: 8px 3px; */
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    font-size: inherit;
}

.inputfield:focus {
    border: 3px solid var(--btn-hover-color);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    background-color: var(--bg-color2);
    width: 80%;
}

.container button {
    display: block;
}

.mb1 {
    margin-bottom: 1em;
}

/* || Error Msg. */
.error {
    color: red;
    font-size: small;
    /* border: 1px solid red; */
}

/* || Settings Page */
.wallet {
    border: 2px solid green;
    /* background-color: lightgreen; */
    padding: 0.5em 0.5em;
    font-size: 1.5rem;
    width: 420px;
}

.profile {
    border: 2px solid gray;
    /* background-color: lightgrey; */
    padding: 0.5em 0.5em;
    font-size: 1.5rem;
    width: 420px;
}

.test-acc {
    border: 2px solid gray;
    background-color: lightgray;
    padding: 0.5em 0.5em;
    font-size: 1rem;
    width: 280px;
}